[Unit]
Description=Tmux session [%i]

[Service]
Type=forking
ExecStart=/usr/bin/tmux -f %h/.config/tmux/config new-session -ds %i
ExecStop=/usr/bin/tmux -f %h/.config/tmux/config kill-session -t %i
Restart=on-failure

[Install]
WantedBy=multi-user.target
