[Unit]
Description=Tmux session [%i]

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tmux -f %h/.config/tmux/config new-session -ds %i
ExecStop=/usr/bin/tmux -f %h/.config/tmux/config kill-session -t %i
KillMode=none

[Install]
WantedBy=default.target
