[user]
    name = Rahul AG
    email = r@hul.ag
[core]
    excludesfile = ~/.gitignore
[color]
    diff = always
    ui = always
[help]
    autocorrect = 1
[push]
    default = simple
[alias]
    st = status
    ad = add
    ci = commit
    co = checkout
    br = branch
